@model SearchAlbumQuery
@{
    Layout = "../Shared/_Layout.cshtml";
    string formId = Guid.NewGuid().ToString();
}


<div id="@formId">
    <div>
        <label>Title</label>
        @Html.TextBoxFor(r => r.Title)
    </div>
    <br/>
    <div>
        <label>Genres</label>
        @{
            var listBoxGenresMeta = Html
                    .When(JqueryBind.InitIncoding)
                    .Do()
                    .AjaxGet(Url.Action("FetchForDD", "Genre"))
                    .OnSuccess(r =>
                               {
                                   r.Self().Core().Insert.WithTemplate(Selector.Jquery.Id("optionsTmpl")).Html();
                                   r.Self().Core().Store.Hash.Fetch();
                               })
                    .AsHtmlAttributes();
        }
        @Html.ListBoxFor(r => r.GenreIds, new SelectList(new string[0]), listBoxGenresMeta)
    </div>
    <br/>
    <div>
        <label>Artists</label>
        @{
            var listBoxArtistsMeta = Html
                    .When(JqueryBind.InitIncoding)
                    .Do()
                    .AjaxGet(Url.Action("FetchForDD", "Artist"))
                    .OnSuccess(r =>
                               {
                                   r.Self().Core().Insert.WithTemplate(Selector.Jquery.Id("optionsTmpl")).Html();
                                   r.Self().Core().Store.Hash.Fetch();
                               })
                    .AsHtmlAttributes();
        }
        @Html.ListBoxFor(r => r.ArtistIds, new SelectList(new string[0]), listBoxArtistsMeta)
    </div>
    <br/>
    @(Html.When(JqueryBind.Click)
          .PreventDefault()
          .Direct()
          .OnSuccess(dsl => dsl.With(r => r.Id(formId)).Core().Store.Hash.Insert())
          .AsHtmlAttributes()
          .ToButton("Search"))
</div>


@(Html.When(JqueryBind.InitIncoding | JqueryBind.IncChangeUrl)
      .AjaxHashGet(url: Url.Dispatcher().Query(new SearchAlbumQuery()).AsJson())
      .OnSuccess(dsl => dsl.Self().Core().Insert.WithTemplateByUrl(Url.Dispatcher().AsView("~/Views/Search/Table_Tmpl.cshtml")).Html())
      .AsHtmlAttributes()
      .ToDiv())